/* Set the common div style */
div {
    color: purple;
    background-color: yellow;
    font-weight: bold;
}

/* select a tag by class */
.green-div {
    color: green;
}

/* select all tags by class name */
.red-div {
    color: red;
}

.blue-div {
    color: blue;
}